@font-face {
  font-family: "MUR";
  src: url("../fonts/MullerRegular.woff") format("woff"),
  url("../fonts/MullerRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MUB";
  src: url("../fonts/MullerBold.woff") format("woff"),
  url("../fonts/MullerBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MUEB";
  src: url("../fonts/MullerExtraBold.woff") format("woff"),
  url("../fonts/MullerExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MUL";
  src: url("../fonts/MullerLight.woff") format("woff"),
  url("../fonts/MullerLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MUM";
  src: url("../fonts/MullerBold.woff") format("woff"),
  url("../fonts/MullerBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}